body{
  background-color: rgb(83, 83, 81);
}

.app{
  position: absolute;
  margin-top: 50px;
  margin-left: 550px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
 
}
h1{
  text-shadow: 3px 3px  pink ;
  font-family: 'Montserrat', sans-serif;

}
.cross{
  text-decoration: line-through 2px red;
  background-color: rgb(228, 222, 214);

}
ul,li{
  padding:10px;
  list-style-type: none;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px  pink;
}
.center{
  display: flex;
  justify-content: center;
}
.add{
  width: 80%;
  padding:10px;
  margin-top: 20px;
  font-size: 16px;
  background:rgb(237, 188, 196) ;
  border: none;
  font-family: 'Montserrat', sans-serif;
}
.delete{
  width: 80%;
  padding:10px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  background: gray;
  font-family: 'Montserrat', sans-serif;
}
input{
  flex:1;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  border: 2px;
  flex: 1;
  margin: 10px;
  
}